In [1]:
import pandas as pd
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')
titanic.shape
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
titanic = titanic[['survived', 'pclass', 'sex', 'age']]
titanic.dropna(axis=0, inplace=True)
titanic['sex'].replace(['male', 'female'], [0, 1], inplace=True)
titanic.head()

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_15684\3497883788.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['sex'].replace(['male', 'female'], [0, 1], inplace=True)
C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_15684\3497883788.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  titanic['sex'].replace(['male', 'female'], [0, 1], inplace=True)

   survived  pclass  sex   age
0         0       3    0  22.0
1         1       1    1  38.0
2         1       3    1  26.0
3         1       1    1  35.0
4         0       3    0  35.0

In [6]:
from sklearn.neighbors import KNeighborsClassifier

ModuleNotFoundError: No module named 'sklearn'

In [7]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.0-cp312-cp312-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\python312\lib\site-packages (from scikit-learn) (2.2.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.8 kB 640.0 kB/s eta 0:00:01
     ---------------------------------------- 60.8/60.8 kB 1.1 MB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.0-cp312-cp312-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
    --------------------------------------- 0.2/11.1 MB 5.6 MB/s eta 0:00:02
   --- ------------------------------------ 1.1/11.1 MB 11.6 MB/s eta 0:00:01
   ------------------ --------------------- 5.2/11.1 MB 36.8 MB/s eta 0:00:01
   ------------------------- -------------- 7.2/11.1 MB 42.0 MB/s eta 0:00:01
   ---------------------------- ----------- 8.0/11.1 MB 36.7 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.1 MB 43.5 MB/s eta 0:00:01
   ---------------------------------------  11.1/11.1 MB 50.4 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 40.9 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   --------------------------------------- 301.8/301.8 kB 18.2 MB/s eta 0:00:00
Downloading scipy-1.15.0-cp312-cp312-win_amd64.whl (43.6 MB)
   ---------------------------------------- 0.0/43.6 MB ? eta -:--:--
   -- ------------------------------------- 2.5/43.6 MB 157.4 MB/s eta 0:00:01
   -- ------------------------------------- 3.1/43.6 MB 39.3 MB/s eta 0:00:02
   ---- ----------------------------------- 4.9/43.6 MB 39.4 MB/s eta 0:00:01
   ------- -------------------------------- 8.6/43.6 MB 50.2 MB/s eta 0:00:01
   ------------- -------------------------- 14.2/43.6 MB 93.9 MB/s eta 0:00:01
   ------------------ --------------------- 19.8/43.6 MB 110.0 MB/s eta 0:00:01
   ----------------------- ---------------- 25.3/43.6 MB 110.0 MB/s eta 0:00:01
   ---------------------------- ----------- 30.9/43.6 MB 108.8 MB/s eta 0:00:01
   --------------------------------- ------ 36.5/43.6 MB 108.8 MB/s eta 0:00:01
   -------------------------------------- - 41.8/43.6 MB 108.8 MB/s eta 0:00:01
   ---------------------------------------  43.6/43.6 MB 108.8 MB/s eta 0:00:01
   ---------------------------------------  43.6/43.6 MB 108.8 MB/s eta 0:00:01
   ---------------------------------------  43.6/43.6 MB 108.8 MB/s eta 0:00:01
   ---------------------------------------- 43.6/43.6 MB 40.9 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.0 scipy-1.15.0 threadpoolctl-3.5.0

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
model = KNeighborsClassifier()

In [10]:
y = titanic['survived']
X = titanic.drop('survived', axis=1)

In [11]:
model.fit(X,y)
model.score(X ,y)

0.8417366946778712

In [30]:
import numpy as np

def survie(model, pclass=1, sex=1, age=44):
    x = np.array([pclass, sex, age]).reshape(1, 3)
    print(model.predict(x))

In [31]:
survie(model)

[1]

C:\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(